/* resets */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
* {
  box-sizing: border-box;
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.App-footer {
  background-color: #eee;
  color: #222;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
